hr {
    margin: 40px;
}
.a1 div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-color: blueviolet  ;
    background-color: rgb(138, 43, 226);
    background-color: #8a2be2;
    background-color: hsl(271, 76%, 53%);
}
.assign-1-shape-2{
    background-color: rgb(138, 43, 226 , 50%) !important;
}
.assign-1-shape-3{
    background-color: rgb(138, 43, 226 , 10%) !important;
}
.a2 div {
    width: 400px;
    height: 400px;
    background-image: url(/css-assignment-5-8.png);
    margin: 20px;
    display: inline-block;
    background-color: whitesmoke;
    color: white;
}
.assign-2-shape-1 {
    background-repeat: no-repeat;
}
.assign-2-shape-2 {
    background-repeat: repeat-y;
}
.assign-2-shape-3 {
    background-repeat: repeat-x;
}
.assign-2-shape-4 {
    background-repeat: repeat;
}
.a3 div {
    width: 400px;
    height: 400px;
    color: white;
    background-image: url(/css-assignment-5-8.png);
    margin: 20px;
    display: inline-block;
    background-color: whitesmoke;
}
.assign-3-shape-1 {
    background-repeat: no-repeat;
}
.assign-3-shape-2 {
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3 {
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4 {
    background-repeat: repeat;
}
.a4 div {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(/css-assignment-5-8.png);
    background-repeat: no-repeat;
    margin: 20px;
    color: white;
    background-color: whitesmoke;
}
.assign-4-shape-1 {
    background-size:80% 80% ;
}
.assign-4-shape-2 {
    background-position: right;
    background-size: 80% 100%;
}
.assign-4-shape-3 {
    background-position-y: bottom;
    background-size: 100% 80%;
}
.assign-4-shape-4 {
    background-position: right bottom;
    background-size: 50%;
}